

<!-- <section id="books">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let book of books">
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" src="{{book.portada}}" alt="{{book.titulo}}">
              </p>
              <h4 routerLink="/book/{{book.id}}" class="card-title">{{book.titulo}}</h4>
              <p class="card-text">
                {{book.descripcion | truncateText:20}}
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info">
                  {{book.precio}}€
                </p>
                <p class="badge badge-info">
                  {{book.idioma}}
                </p>
              </div>
              <a href="{{book.link_amazon}}" class="btn btn-block btn-primary" target="_blank">Compra</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>-->

<section id="eventos">

    <div style ="text-align: center">
      <h1 class="display-3  ">EVENTOS</h1>
      </div>
      
<div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let evento of eventos">
        <div class="card_evento">
          <div class="card">
           <div class="card-body text-center">
              <p>
                <img class="img-fluid" style="width: 400px; height: 200px"src="{{evento.portada}}" alt="{{evento.titulo}}">
              </p>
                <h4 routerLink="/evento/{{evento.id}}" class="card-title">{{evento.titulo}}</h4>
              <p class="card-text">
                {{evento.descripcion | truncateText:20}}
              </p>
                <div class="container-precio-idioma">
              <!-- <p class="badge badge-info">
                {{book.precio}}€
              </p>
              <p class="badge badge-info">
                {{book.idioma}}
              </p> -->
                 </div>
              <a href="/user/comprar" class="btn btn-block btn-primary" target="_blank">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <h4 routerLink="/evento/{{evento.id}}" class="card-title">{{evento.titulo}}</h4> -->

</section>

<br>
<div class="">
  <div class="container">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <img class="d-block w-100" src="assets/img/promo1.png" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="assets/img/promo2.png" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="assets/img/promo3.png" alt="Second slide">
      </mdb-carousel-item>
    </mdb-carousel>
        
  
  </div>
</div>
<br>



<div class="jumbotron  blue lighten-4">
   
    <!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5">

    <!-- Section heading -->
    <h1 class="display-3  ">CLIENTES</h1>
    <!-- Section description -->
  
    <!--Grid row-->
    <div class="row text-center">
  
      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">
  
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Anna Moreira</h4>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Excelente idea, me ayudo para realizar las compras de las entradas para mi concierto favorito.</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star-half"> </i>
          </div>
        </div>
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">
  
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Ricco Perez</h4>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Gracias por ayudarme a darle una sorpresa increible al amor de vida.
          </p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
          </div>
        </div>
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4">
  
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Maria Castillo</h4>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Me encanta su servicio.</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="far fa-star"> </i>
          </div>
        </div>
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
    
  </div>