<!-- Section: Contact v.2 -->
<section class="my-5">

    <!-- Section heading -->
    <div style ="text-align: center">
        <h1 class="display-3">PORTFOLIO</h1>
      </div>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Nuestros eventos.</p>
  
  
<div class="row">

  <div class="col-md-4 mx-auto my-5">
    <img class="img-fluid z-depth-1" src="assets/img/fondo10.png"
        alt="" >
  </div>

  <div class="col-md-4 mx-auto my-5">
   <img  class="img-fluid z-depth-1" src="assets/img/fondo5.png"
        alt="video" data-toggle="modal" data-target="#modal6">
  </div>

  <div class="col-md-4 mx-auto my-5">
    <img  class="img-fluid z-depth-1" src="assets/img/fondo6.png"
        alt="video" data-toggle="modal" data-target="#modal4">
  </div>

  <div class="col-md-4 mx-auto my-5">
    <img  class="img-fluid z-depth-1" src="assets/img/fondo7.png"
        alt="video" data-toggle="modal" data-target="#modal2">
  </div>

  <div class="col-md-4 mx-auto my-5">
    <img  class="img-fluid z-depth-1" src="assets/img/fondo8.png"
        alt="video" data-toggle="modal" data-target="#modal5">
  </div>

  <div class="col-md-4 mx-auto my-5">
    <img  class="img-fluid z-depth-1" src="assets/img/fondo9.png"
        alt="video" data-toggle="modal" data-target="#modal3">
  </div>
  <div class="col-md-4 mx-auto my-5">
    <img  class="img-fluid z-depth-1" src="assets/img/fondo4.png"
        alt="video" data-toggle="modal" data-target="#modal2">
  </div>

  <div class="col-md-4 mx-auto my-5">
    <img  class="img-fluid z-depth-1" src="assets/img/fondo11.png"
        alt="video" data-toggle="modal" data-target="#modal5">
  </div>

  <div class="col-md-4 mx-auto my-5">
    <img  class="img-fluid z-depth-1" src="assets/img/fondo1.png"
        alt="video" data-toggle="modal" data-target="#modal3">
  </div>

</div>

  
  </section>
  <!-- Section: Contact v.2 -->
