<div class="row mt-5">
    <div class="col">
      <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" 
      data-target="#modalAsiento" (click)="resetForm()">Nuevo Asiento</button>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Asiento</th>
            <th scope="col">Fila</th>
            <th scope="col">Nombre</th>
          
            <!-- <th scope="col">Oferta</th> -->
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asiento of asientos | paginate: {itemsPerPage: 7, currentPage: pageActual}; index as i">
  
            <th scope="row"> {{i+1}}</th>
            
            <td>{{asiento.idasiento}}</td>
            <td>{{asiento.idfila}}</td>
            <td>{{asiento.nombre}}</td>
  
            <td>
              <button class="btn btn-primary" (click)="onPreUpdateAsiento(asiento)" data-toggle="modal" data-target="#modalAsiento">Actualizar</button>
            </td>
            <td>
              <a href="/admin/list-asientos" class="btn btn-danger" (click)="onDeleteAsiento(asiento.id)">Borrar</a>
            </td>
          </tr>
  
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
  </div>
  <app-modal></app-modal>