<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">hola</h1>
    <p>Somos una empresa 100% Ecuatoriana, fundada en la ciudad de Guayaquil en el año 2008.

        Nuestra misión brindar servicio de impresión de tickets, venta y control de
        acceso para eventos a nivel nacional de una manera ágil y transparente. Contamos con el servicio de venta en línea que permite a nuestros clientes adquirir sus tickets a través de nuestro sitio web con envio a domicilio dentro del país.</p>
    <p>
        
      
      
    </p>
  </div>
</div>

<footer>
  <div class="footer-copyright">
    <div class="container">
   <p> © 2018 Copyright Text - Autoria II</p>
    </div>
  </div>
</footer>