
<div class="jumbotron text-justify">
<div class="row">
  <div class="col-sm-4">
    <img class="logo" width="300" height="200" src="assets/img/LogoEventum.png">
  </div>
  <div class="col-sm-8">
  
  <p>Somos una empresa 100% Ecuatoriana, fundada en la ciudad de Guayaquil en el año 2008.</p> 
  <p>Nuestra misión brindar servicio de impresión de tickets, venta y control de
    acceso para eventos a nivel nacional de una manera ágil y transparente. Contamos con el servicio de venta en línea que permite a nuestros clientes adquirir sus tickets a través de nuestro sitio web con envio a domicilio dentro del país. 
    Brindamos nuestro servicio a los empresarios que realicen todos tipo de eventos públicos o privados; entre ellos: conciertos, monólogos, obras de teatro, partidos de fútbol, eventos corporativos, eventos culturales y sociales</p> 
  <p>Contamos con una plataforma tecnológica que nos permite la impresión de tickets en línea de una manera segura, confiable y eficiente. Generando reportes en tiempo real de impresión, por medio del cual se puede controlar la venta. Nuestros tickets cuentan con tecnología que nos brinda seguridad al momento de realizar el control de acceso.</p> 
  </div>
</div>
</div>

