

<!-- Main jumbotron for a primary marketing message or call to action -->

<div style ="text-align: center" >
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner" > 
    
    <div class="carousel-item" *ngFor="let evento of eventos;">
      <img class="d-block w-100" style="width: 900px; height: 800px" src="{{evento.portada}}" >
    </div>
    <div class="carousel-item active">
      <img class="d-block w-100" style="width: 900px; height: 800px" src="assets/img/fondo1.png" >
    </div>
   
  </div>


</div>
</div>




