

<!-- Main jumbotron for a primary marketing message or call to action -->

<div style ="text-align: center">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" style="width: 800px; height: 700px" src="assets/img/fondo3.png"  alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="width: 800px; height: 700px"  src="assets/img/fondo1.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="width: 800px; height: 700px"  src="assets/img/fondo2.png" alt="Third slide">
    </div>
  </div>
</div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">BIENVENIDOS</h1>
    <p>Somos una empresa 100% Ecuatoriana, fundada en la ciudad de Guayaquil en el año 2008.

        Nuestra misión brindar servicio de impresión de tickets, venta y control de
        acceso para eventos a nivel nacional de una manera ágil y transparente. Contamos con el servicio de venta en línea que permite a nuestros clientes adquirir sus tickets a través de nuestro sitio web con envio a domicilio dentro del país.</p>
    <p>
        
      
      
    </p>
  </div>
</div>

<!--Carousel Wrapper-->
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides and lightbox-->

  <div class="carousel-inner mdb-lightbox" role="listbox">
    <div id="mdb-lightbox-ui"></div>
    <!--First slide-->
    <div class=" carousel-item active text-center">

      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo1.png" data-size="1600x1067">
          <img src="assets/img/fondo1.png"class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo2.png" data-size="1600x1067">
          <img src="assets/img/fondo2.png" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo3.png" data-size="1600x1067">
          <img src="assets/img/fondo3.png" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo4.png"  data-size="1600x1067">
          <img src="assets/img/fondo4.png" class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo5.png" data-size="1600x1067">
          <img src="assets/img/fondo5.png" class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo6.png" data-size="1600x1067">
          <img src="assets/img/fondo6.png" class="img-fluid">
        </a>
      </figure>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item text-center">

      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo7.png" data-size="1600x1067">
          <img src="assets/img/fondo7.png" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo8.png"  data-size="1600x1067">
          <img src="assets/img/fondo8.png" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo9.png" data-size="1600x1067">
          <img src="assets/img/fondo9.png" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo1.png" data-size="1600x1067">
          <img src="assets/img/fondo1.png" class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo2.png" data-size="1600x1067">
          <img src="assets/img/fondo2.png" class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-4 d-md-inline-block">
        <a href="assets/img/fondo3.png" data-size="1600x1067">
          <img src="assets/img/fondo3.png" class="img-fluid">
        </a>
      </figure>

    </div>
    <!--/.Second slide-->

   

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

