
<div class="row mt-5">
  <div class="col">
    <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalLocalidad" (click)="resetForm()">Nueva Localidad</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Localidad</th>
          <th scope="col">Recinto</th>
          <th scope="col">Caracter</th>
          <th scope="col">Descripcion</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let localidad of localidades | paginate: {itemsPerPage: 7, currentPage: pageActual}; index as i">

          <th scope="row"> {{i+1}}</th>
          <td>{{localidad.idlocalidad}}</td>
          <td>{{localidad.idrecinto}}</td>
          <td>{{localidad.caracter}}</td>
          <td>{{localidad.descripcion}}</td>
          <td>
            <button class="btn btn-primary" (click)="onPreUpdateLocalidad(localidad)" data-toggle="modal" data-target="#modalLocalidad">Actualizar</button>
          </td>
          <td>
            <a href="/admin/list-localidades" class="btn btn-danger" (click)="onDeleteLocalidad(localidad.id)">Borrar</a>
          </td>
        </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
</div>
<app-modal></app-modal>
