<!-- Modal -->
<div id="modalBook" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{!this.dataApiService.selectedBook.id ? 'New Book' : 'Update Book'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-book" #formBook="ngForm" (ngSubmit)="onSaveBook(formBook)">
          <input type="hidden" id="bookId" name="bookId" class="form-control" [(ngModel)]="this.dataApiService.selectedBook.id">
          <div class="form-group">
            <label for="">Titulo</label>
            <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Titulo" [(ngModel)]="this.dataApiService.selectedBook.titulo">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="idioma">Idioma</label>
              <select name="idioma" id="idioma" class="form-control" [(ngModel)]="this.dataApiService.selectedBook.idioma">
                <option value="Inglés">Inglés</option>
                <option value="Castellano">Castellano</option>
              </select>

            </div>
            <div class="form-group col-md-6">
              <label for="precio">Precio</label>
              <input type="text" id="precio" name="precio" class="form-control" placeholder="0,00€" [(ngModel)]="this.dataApiService.selectedBook.precio">
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="autor">Autor</label>
              <input type="text" id="autor" name="autor" class="form-control" placeholder="Autor" [(ngModel)]="this.dataApiService.selectedBook.autor">
            </div>
            <div class="form-group col-md-6">
              <label for="oferta">Oferta</label>
              <select name="oferta" id="oferta" class="form-control" [(ngModel)]="this.dataApiService.selectedBook.oferta">
                <option value="1">SI</option>
                <option value="0">NO</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="portada">Portada</label>
              <input type="text" id="portada" name="portada" class="form-control" placeholder="Portada" [(ngModel)]="this.dataApiService.selectedBook.portada">
            </div>
            <div class="form-group col-md-6">
              <label for="link_amazon">Link Amazon</label>
              <input type="text" id="link_amazon" name="link_amazon" class="form-control" placeholder="Link Amazon" [(ngModel)]="this.dataApiService.selectedBook.link_amazon">
            </div>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion" class="form-control" cols="50" rows="4" [(ngModel)]="this.dataApiService.selectedBook.descripcion"></textarea>
          </div>
          <button type="submit" class="btn btn-primary float-right">Save Book</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!--evento-->

<div id="modalEvento" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<h1>hola putos</h1>

    <div class="modal-dialog modal-lg" role="document">

       <div class="modal-content" >
        
          <div class="modal-header">
              <h5 class="modal-title" 
              id="exampleModalLabel">{{!this.dataApiService.selectedEvento.id ? 'New Evento' : 'Update Evento'}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
          </div>


          <div class="modal-body">

            <form class="form-evento" #formEvento="ngForm" (ngSubmit)="onSaveEvento(formEvento)">
              <input type="hidden" id="eventoId" name="eventoId" class="form-control" [(ngModel)]="this.dataApiService.selectedEvento.id">
              <div class="form-group">
                  <label for="titulo">Titulo</label>
                  <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Titulo" [(ngModel)]="this.dataApiService.selectedEvento .titulo">
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6" >
                    <label for="fecha">Fecha</label>
                    <input type="date"  id="fecha" name="fecha" class="form-control" 
                    placeholder="elija fecha del evento" [(ngModel)]="this.dataApiService.selectedEvento.fecha">
                  </div>


                  <div class="form-group col-md-6">
                    <label for="hora">Hora</label>
                    <input type="text" id="hora" name="hora" class="form-control"
                     placeholder="elija la hora" [(ngModel)]="this.dataApiService.selectedEvento.hora">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="estado">Estado</label>
                    <select  name="estado" id="estado"   class="form-control"
                      [(ngModel)]="this.dataApiService.selectedEvento.estado">
                      <option value="1">Activo</option>
                      <option value="0">Inactivo</option>
                    </select>
                  </div>


                  <div class="form-group col-md-6">
                    <label for="caracter">Caracter</label>
                    <input type="text" id="caracter" name="caracter"  class="form-control"
                    placeholder="eljia caracter" [(ngModel)]="this.dataApiService.selectedEvento.caracter">
                  </div>

                  <div class="form-group col-md-6" >
                    <label for="idevento">Evento</label>
                    <input type="text" id="idevento" name="idevento"
                    class="form-control"  placeholder="codigo del evento"
                    [(ngModel)]="this.dataApiService.selectedEvento.idevento" >
                  </div>

                  <div class="form-group col-md-6" >
                      <label for="idrecinto">Recinto</label>
                      <select  name="idrecinto" id="idrecinto" class="form-control"
                      [(ngModel)]="this.dataApiService.selectedEvento.idrecinto">
                      <option value="1">Activo</option>
                      <option value="0">Inactivo</option>
                     
                    </select>
                      
                    </div>
                </div>


                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="portad">Portada</label>
                    <input type="text" id="portada" name="portada" class="form-control" placeholder="Portada" [(ngModel)]="this.dataApiService.selectedEvento.portada">
                  </div>
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea name="descripcion" id="descripcion" class="form-control" cols="50" rows="4" [(ngModel)]="this.dataApiService.selectedEvento.descripcion"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary float-right">Guardar</button>




            </form>
           
          </div>









       </div>

    </div>


</div>

<!-- recinto-->

<div id="modalRecinto" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" 
        id="exampleModalLabel">{{!this.dataApiService.selectedRecinto.id ? 'New Recinto' : 'Update Recinto'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-recinto" #formRecinto="ngForm" (ngSubmit)="onSaveRecinto(formRecinto)">
          <input type="hidden" id="recintoId" name="recintoId" class="form-control" [(ngModel)]="this.dataApiService.selectedRecinto.id">
          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="this.dataApiService.selectedRecinto.nombre">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="direccion">Direccion</label>
              <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Direccion" [(ngModel)]="this.dataApiService.selectedRecinto.direccion">

            </div>

            <div class="form-group col-md-6">
              <label for="descripcion">Descripcion</label>
              <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion" [(ngModel)]="this.dataApiService.selectedRecinto.descripcion">
            </div>

          </div>
          
         
          
          <button type="submit" class="btn btn-primary float-right">Save Recinto</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--LOCALIDAD-->

<div id="modalLocalidad" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{!this.dataApiService.selectedLocalidad.id? 'Nueva Localidad' : 'Actualizar Localidad'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-localidad" #formLocalidad="ngForm" (ngSubmit)="onSaveLocalidad(formLocalidad)">
          <input type="hidden" id="localidadId" name="localidadId" class="form-control" [(ngModel)]="this.dataApiService.selectedLocalidad.id">

          <div class="form-group">
            <label for="idlocalidad">idlocalidad</label>
            <input type="text" id="idlocalidad" name="idlocalidad" class="form-control" placeholder="idlocalidad" [(ngModel)]="this.dataApiService.selectedLocalidad.idlocalidad">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="idrecinto">Recinto</label>
              <input type="text" id="idrecinto" name="idrecinto" class="form-control" placeholder="Recinto" [(ngModel)]="this.dataApiService.selectedLocalidad.idrecinto">

            </div>

            <div class="form-group col-md-6">
              <label for="descripcion">Caracter</label>
              <input type="text" id="caracter" name="caracter" class="form-control" placeholder="Caracter" [(ngModel)]="this.dataApiService.selectedLocalidad.caracter">
            </div>

            <div class="form-group col-md-6">
              <label for="descripcion">Descripcion</label>
              <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion" [(ngModel)]="this.dataApiService.selectedLocalidad.descripcion">
            </div>

          </div>
          
         
          
          <button type="submit" class="btn btn-primary float-right">Guardar Localidad</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- bloque-->

<div id="modalBloque" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" 
        id="exampleModalLabel">{{!this.dataApiService.selectedBloque.id ? 'Nuevo Bloque' : 'Actualizar Bloque'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-bloque" #formBloque="ngForm" (ngSubmit)="onSaveBloque(formBloque)">
          <input type="hidden" id="bloqueId" name="bloqueId" class="form-control" [(ngModel)]="this.dataApiService.selectedBloque.id">
          <div class="form-group">
            <label for="">Id Bloque</label>
            <input type="text" id="idbloque" name="idbloque" class="form-control" placeholder="idbloque" [(ngModel)]="this.dataApiService.selectedBloque.idbloque">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="direccion">Id Localidad</label>
              <input type="text" id="idlocalidad" name="idlocalidad" class="form-control" placeholder="idlocalidad" [(ngModel)]="this.dataApiService.selectedBloque.idlocalidad">
            </div>
            <div class="form-group col-md-6">
              <label for="descripcion">Descripcion</label>
              <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion" [(ngModel)]="this.dataApiService.selectedBloque.descripcion">
            </div>
          </div>           
          <button type="submit" class="btn btn-primary float-right">Grabar Bloque</button>
        </form>
      </div>
    </div>
  </div>
</div>




<!-- tarifa-->

<div id="modalTarifa" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{!this.dataApiService.selectedTarifa.id? 'New Tarifa' : 'Update Tarifa'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-tarifa" 
        #formTarifa="ngForm" (ngSubmit)="onSaveTarifa(formTarifa)">
          <input type="hidden" id="tarifaId" name="tarifaId" class="form-control"
           [(ngModel)]="this.dataApiService.selectedTarifa.id">
          <div class="form-group">
            <label for="">Descripcion</label>
            <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion" [(ngModel)]="this.dataApiService.selectedTarifa.descripcion">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="caracter">Caracter</label>
              <input type="text" id="caracter" name="caracter"  class="form-control" placeholder="eljia caracter" [(ngModel)]="this.dataApiService.selectedTarifa.caracter">
            </div>
          </div>

          <button type="submit" class="btn btn-primary float-right">Save Tarifa</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Filas -->
<div id="modalFila" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{!this.dataApiService.selectedFila.id ? 'New Fila' : 'Update Fila'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-fila" #formFila="ngForm" (ngSubmit)="onSaveFila(formFila)">
          <input type="hidden" id="filaId" name="filaId" class="form-control" [(ngModel)]="this.dataApiService.selectedFila.id">

          <div class="form-group">
            <label for="">Fila</label>
            <input type="text" id="idfila" name="idfila" class="form-control" placeholder="Fila" [(ngModel)]="this.dataApiService.selectedFila.idfila">
          </div>

          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="this.dataApiService.selectedFila.nombre">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="idbloque">Bloque</label>
              <input type="text" id="idbloque" name="idbloque" class="form-control" placeholder="Bloque" [(ngModel)]="this.dataApiService.selectedFila.idbloque">

            </div>

          

          </div>
          
         
          
          <button type="submit" class="btn btn-primary float-right">Save Fila</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Precios -->
<div id="modalPrecio" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{!this.dataApiService.selectedPrecio.id ? 'New Precio' : 'Update Precio'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-precio" #formPrecio="ngForm" (ngSubmit)="onSavePrecio(formPrecio)">
          <input type="hidden" id="precioId" name="precioId" class="form-control" [(ngModel)]="this.dataApiService.selectedPrecio.id">
          
          <div class="form-group">
              <label for="idprecio">idprecio</label>
              <input type="text" id="idprecio" name="idprecio" class="form-control" placeholder="Precio" [(ngModel)]="this.dataApiService.selectedPrecio.idprecio">
            </div>

          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="this.dataApiService.selectedPrecio.nombre">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="idevento">Evento</label>
              <input type="text" id="idevento" name="idevento" class="form-control" placeholder="Evento" [(ngModel)]="this.dataApiService.selectedPrecio.idevento">

            </div>

          </div>
          
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="idlocalidad">Localidad</label>
              <input type="text" id="idlocalidad" name="idlocalidad" class="form-control" placeholder="Localidad" [(ngModel)]="this.dataApiService.selectedPrecio.idlocalidad">

            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="valor">Valor</label>
              <input type="text" id="valor" name="valor" class="form-control" placeholder="Valor" [(ngModel)]="this.dataApiService.selectedPrecio.valor">

            </div>

          </div>
         
          
          <button type="submit" class="btn btn-primary float-right">Guardar Precio</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Asientos -->

<div id="modalAsiento" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
    
           <div class="modal-content" >
            
              <div class="modal-header">
                  <h5 class="modal-title" 
                  id="exampleModalLabel">{{!this.dataApiService.selectedAsiento.id ? 'New Asiento' : 'Update Asiento'}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
              </div>
    
    
              <div class="modal-body">
    
                <form class="form-asiento" #formAsiento="ngForm" (ngSubmit)="onSaveAsiento(formAsiento)">
                  <input type="hidden" id="asientoId" name="asientoId" class="form-control" [(ngModel)]="this.dataApiService.selectedAsiento.id">
                  <div class="form-group">
                      <label for="idasiento">Asiento</label>
                      <input type="text" id="idasiento" name="idasiento" class="form-control" placeholder="Asiento" [(ngModel)]="this.dataApiService.selectedAsiento.idasiento">
                    </div>
                  
                  
                  <div class="form-group">
                      <label for="idfila">Fila</label>
                      <input type="text" id="idfila" name="idfila" class="form-control" placeholder="Fila" [(ngModel)]="this.dataApiService.selectedAsiento.idfila">
                    </div>

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="this.dataApiService.selectedAsiento.nombre">
                      </div>
    
              
                     
    

                      <button type="submit" class="btn btn-primary float-right">Guardar Asiento</button>
    
    
    
    
                </form>
               
              </div>
  
    
           </div>
    
        </div>
    
    
    </div>
    


<!-- tickets -->

<div id="modalTicket" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" 
        id="exampleModalLabel">{{!this.dataApiService.selectedTicket.id ? 'Nuevo Ticket' : 'Actualizar Ticket'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-ticket" #formTicket="ngForm" (ngSubmit)="onSaveTicket(formTicket)">
          <input type="hidden" id="ticketId" name="ticketId" class="form-control" [(ngModel)]="this.dataApiService.selectedTicket.id">
          <div class="form-group">
            <label for="">Id Ticket</label>
            <input type="text" id="idticket" name="idticket" class="form-control" placeholder="idticket" [(ngModel)]="this.dataApiService.selectedTicket.idticket">
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="evento">Id Evento</label>
                  <input type="text" id="idevento" name="idevento" class="form-control" placeholder="idevento" [(ngModel)]="this.dataApiService.selectedTicket.idevento">
                </div>
            <div class="form-group col-md-6">
              <label for="precio">Id Precio</label>
              <input type="text" id="idprecio" name="idprecio" class="form-control" placeholder="idprecio" [(ngModel)]="this.dataApiService.selectedTicket.idprecio">
            </div>
            <div class="form-group col-md-6">
                <label for="tarifa">Id Tarifa</label>
                <input type="text" id="idtarifa" name="idtarifa" class="form-control" placeholder="idtarifa" [(ngModel)]="this.dataApiService.selectedTicket.idtarifa">
            </div>
            <div class="form-group col-md-6">
                <label for="asiento">Id Asiento</label>
                <input type="text" id="idasiento" name="idasiento" class="form-control" placeholder="idasiento" [(ngModel)]="this.dataApiService.selectedTicket.idasiento">
            </div>
            <div class="form-group col-md-6">
                <label for="valor">valor</label>
                <input type="text" id="valor" name="valor" class="form-control" placeholder="valor" [(ngModel)]="this.dataApiService.selectedTicket.valor">
            </div>
            <div class="form-group col-md-6">
              <label for="codigo">Código</label>
              <input type="text" id="codigo" name="codigo" class="form-control" placeholder="codigo" [(ngModel)]="this.dataApiService.selectedTicket.codigo">
            </div>
          </div>           
          <button type="submit" class="btn btn-primary float-right">Grabar Ticket</button>
        </form>
      </div>
    </div>
  </div>
</div>




<!-- Usuarios    -->


