<!-- Section: Contact v.2 -->
<section class="my-5">

    <!-- Section heading -->
    <div style ="text-align: center">
        <h1 class="display-3">EVENTOS</h1>
      </div>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Tus comentarios y sugerencias son valiosos para nosotros.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-9 mb-md-0 mb-5">
  
        <form>
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-name" class="form-control" mdbInputDirective>
                <label for="contact-name" class="">Nombre y Apellido</label>
              </div>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-email" class="form-control" mdbInputDirective>
                <label for="contact-email" class="">Correo Eléctronico</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" id="contact-Subject" class="form-control" mdbInputDirective>
                <label for="contact-Subject" class="">Asunto</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form">
                <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"
                  mdbInputDirective></textarea>
                <label for="contact-message">Mensaje</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </form>
  
        <div class="text-center text-md-left">
          <a mdbBtn color="primary" mdbWavesEffect>Enviar</a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fas fa-map-marked fa-2x blue-text"></i>
            <p>Guayaquil, Colon 530 y Boyaca, Ecuador</p>
          </li>
          <li>
            <i class="fas fa-phone fa-2x mt-4 blue-text"></i>
            <p>+ 593 947161198 </p>
          </li>
          <li>
            <i class="fas fa-envelope fa-2x mt-4 blue-text"></i>
            <p class="mb-0">ventas@eventum.com</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Contact v.2 -->
