<br>
<br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">







<div style ="text-align: center">
    <h1 class="display-3">ELIGE TU ASIENTO</h1>
  </div>
  
  <div class="w3-container">

     
      <div class="w3-responsive">
      <table class="w3-table-all">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>Johnson</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
      </tr>
      </table>
      </div>
    </div>

    <br>
<br>
      
      <div class="jumbotron text-justify">
          <div class="row">
            
          <div style ="text-align: center">
              <h1 class="display-3">DETALLE DE PAGO</h1>
            </div>
            <div class="col-sm-8">
               
     
            </div>
          </div>
          </div>
          <style type='text/css'>
 
            tr:nth-child(odd) {
                background-color:#f2f2f2;
            }
            tr:nth-child(even) {
                background-color:#fbfbfb;
            }
             
            </style>