

<div class="row mt-5">
  <div class="col">
    <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" 
    data-target="#modalEvento" (click)="resetForm()">Nuevo Evento</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora</th>
          <th scope="col">Estado</th>
          <!-- <th scope="col">Oferta</th> -->
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos | paginate: {itemsPerPage: 7, currentPage: pageActual}; index as i">

          <th scope="row"> {{i+1}}</th>
          <td>{{evento.titulo}}</td>
          <td>{{evento.descripcion}}</td>
          <td>{{evento.fecha}}</td>
          <td>{{evento.hora}}</td>
          <td>{{evento.estado == 1 ? 'Activo' : 'Inactivo'}}</td> 
          <td>
            <button class="btn btn-primary" (click)="onPreUpdateEvento(evento)" data-toggle="modal" data-target="#modalEvento">Actualizar</button>
          </td>
          <td>
            <a href="/admin/list-eventos" class="btn btn-danger" (click)="onDeleteEvento(evento.id)">Borrar</a>
          </td>
        </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
</div>
<app-modal></app-modal>