
<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card " >
              <img src="assets/img/LogoEventum.png" alt="Jane" style="width:100% ;height:200%">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
            
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  Something is wrong!
                </div>
                <div class="form-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Correo Electrónico" [(ngModel)]="user.email" required>
                </div>
                <div class="form-group">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" [(ngModel)]="user.password"
                    required>
                </div>
                <button type="submit" class="btn btn-lg btn-dark btn-block">Iniciar sesión</button>
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="register" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-sm-2 col-md-4 mx-auto">
          <div class="card_register">
            <div class="card">

              <div class="card-body text-center">
               
                    <div class="form-group">
                        <a routerLink="/user/register" class="form-control login-user"> ¿No tienes una cuenta?  Regístrate</a>
                  </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  