
  <!--nav -->
  
<br>
<br>



<nav class="navbar navbar-dark bg navbar-expand-sm fixed-top" style="background-color: #000000;">
  
  <a href="#" class="brand-logo" *ngIf="!isLogged">
    <img class="logo" width="100" src="assets/img/LogoEventum.png">
  </a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar" *ngIf="!isLogged && !isLoggedUser">
  
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link"   href="#">Inicio
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/nosotros">Nosotros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/portfolio">Portfolio
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/user/contactanos">Contáctanos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/user/offers">Ofertas
              </a>
            </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/register">Crea una cuenta |
        </a>
      </li>    

      <li class="nav-item">
        <a class="nav-link" routerLink="/user/login">Iniciar Sesión
        </a>
      </li>
     

    </ul>
  </div>



  <div class="collapse navbar-collapse" id="mainNavbar" *ngIf="isLogged">
  
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link"   href="#">Inicio
            </a>
          </li>
          
      <li class="nav-item dropdown btn-group" dropdown  >
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Administración <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" routerLink="/admin/list-books">Lista Conciertos</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-recintos"> Lista Recintos</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-eventos"> Lista Eventos</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-tarifa"> Lista Tarifas</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-filas"> Lista Filas</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-localidades"> Lista Localidades</a> 
            <a class="dropdown-item waves-light" routerLink="/admin/list-precios"> Lista Precios</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-bloques"> Lista Bloques</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-asientos"> Lista Asientos</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-tickets"> Lista Tickets</a>
           

        </div>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link" >Usuario: Admin </a>
    </li>

      <li class="nav-item">
        <a href="#" class="nav-link" (click)="onLogout()">Salir
        </a>
      </li>


    </ul>
  </div>
 
        



        <div class="collapse navbar-collapse" id="mainNavbar" *ngIf="isLoggedUser">
  
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link"   href="#">Inicio
                  </a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/user/nosotros">Nosotros
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/user/portfolio">Portfolio
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/contactanos">Contáctanos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/user/offers">Ofertas
                    </a>
                  </li>
            
                  <li class="nav-item">
                    <a href="#" class="nav-link" >Usuario: {{user.name}} </a>
                  </li>
          
      
            <li class="nav-item" >
              <a href="#" class="nav-link" (click)="onLogout()">Salir
              </a>
            </li>
      
          </ul>
        </div>
 
</nav>

