
  <!--nav -->
  
<br>
<br>



<nav class="navbar navbar-dark bg navbar-expand-sm fixed-top" style="background-color: #000000;">
  
  <a href="#" class="brand-logo">
    <img class="logo" width="100" src="assets/img/LogoEventum.png">
  </a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
  
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link"   href="#">Inicio
            </a>
          </li>
        <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" routerLink="/user/nosotros">Nosotros
            </a>
          </li>
          <li class="nav-item" *ngIf="!isLogged">
              <a class="nav-link" routerLink="/user/contactanos">Contáctanos
              </a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
              <a class="nav-link" routerLink="/user/offers">Ofertas
              </a>
            </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/user/register">Crea una cuenta |
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/user/profile">Perfil</a>
      </li>
    
      <li class="nav-item dropdown btn-group" dropdown *ngIf="isLogged">
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Administración <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" routerLink="/admin/list-books">Lista de Conciertos</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-recintos"> Lista de Recintos</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-eventos"> Lista de Eventos</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-tarifa"> Lista de Tarifas</a>
            <a class="dropdown-item waves-light" routerLink="/admin/list-filas"> Lista de Filas</a>

        </div>
    </li>

    

      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/user/login">Iniciar Sesión
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a href="#" class="nav-link" (click)="onLogout()">Salir
        </a>
      </li>
    </ul>
  </div>
 
        
 
</nav>

