<div class="row mt-5">
  <div class="col">
    <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" 
    data-target="#modalPrecio" (click)="resetForm()">Nuevo Precio</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Evento</th>
          <th scope="col">Localidad</th>
          <th scope="col">Valor</th>
    
          <!-- <th scope="col">Oferta</th> -->
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let precio of precios | paginate: {itemsPerPage: 7, currentPage: pageActual}; index as i">

          <th scope="row"> {{i+1}}</th>
          <td>{{precio.nombre}}</td>
          <td>{{precio.idevento}}</td>
          <td>{{precio.idlocalidad}}</td>
          <td>{{precio.valor}}</td>
          <td>
            <button class="btn btn-primary" (click)="onPreUpdatePrecio(precio)" data-toggle="modal" data-target="#modalPrecio">Actualizar</button>
          </td>
          <td>
            <a href="/admin/list-precios" class="btn btn-danger" (click)="onDeletePrecio(precio.id)">Borrar</a>
          </td>
        </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
</div>
<app-modal></app-modal>